In [3]:
import os
import pandas as pd
import numpy as np

In [5]:
wikivoyage_dir = "rag-sustainable-trs/"
airbnb_dir = "green-city-reco-data/airbnb_data/calendar_data/"
city_trends_dir = "green-city-reco-data/trends_data/"
eu_cities_dir = ['europeancities-wikivoyage-tripadvisor/data-sources/wikivoyage/', 'europeancities-wikivoyage-tripadvisor/data-sources/tripadvisor/']

In [6]:
city_abstracts = pd.read_csv(wikivoyage_dir + "city_abstracts_embeddings.csv")
city_trends = pd.read_csv(city_trends_dir + "city_trends_clean.csv")

In [10]:
airbnb_cities = os.listdir(airbnb_dir)
len(airbnb_cities)

airbnb_cities = list(map(lambda x: (x.split("-")[0]).capitalize(), airbnb_cities))
airbnb_cities

['Bordeaux',
 'Munich',
 'Sevilla',
 'Riga',
 'Edinburgh',
 'Vienna',
 'Istanbul',
 'Bergamo',
 'London',
 'Oslo',
 'Thessaloniki',
 'Rome',
 'Menorca',
 'Naples',
 'Bologna',
 'Lisbon',
 'Venice',
 'Zurich',
 'Girona',
 'Euskadi',
 'Stockholm',
 'Florence',
 'Geneva',
 'Amsterdam',
 'Copenhagen',
 'Bristol',
 'Barcelona',
 'Madrid',
 'Puglia',
 'Valencia',
 'Mallorca',
 'Prague',
 'Malaga',
 'Paris',
 'Berlin',
 'Antwerp',
 'Athens',
 'Lyon',
 'Sicily',
 'Crete',
 'Milan',
 'Trentino',
 'Brussels',
 'Porto',
 'Ghent']

In [11]:
cities_wv = set(city_abstracts['city'])
cities_gt = set(city_trends['city'])

In [42]:
result = cities_wv & cities_gt
len(result)

160

In [43]:
result

{'Aalborg',
 'Adana',
 'Amsterdam',
 'Ancona',
 'Ankara',
 'Antalya',
 'Arad',
 'Arkhangelsk',
 'Astrakhan',
 'Baia Mare',
 'Baku',
 'Barcelona',
 'Bari',
 'Batman',
 'Belgrade',
 'Bergen',
 'Berlin',
 'Bologna',
 'Bordeaux',
 'Braga',
 'Bratislava',
 'Bremen',
 'Brest',
 'Brno',
 'Brussels',
 'Budapest',
 'Burgas',
 'Bursa',
 'Bydgoszcz',
 'Cagliari',
 'Cheboksary',
 'Chelyabinsk',
 'Cluj-Napoca',
 'Coimbra',
 'Copenhagen',
 'Cork',
 'Craiova',
 'Debrecen',
 'Denizli',
 'Dijon',
 'Donetsk',
 'Dresden',
 'Dublin',
 'Erfurt',
 'Erzincan',
 'Erzurum',
 'Gaziantep',
 'Geneva',
 'Hamburg',
 'Helsinki',
 'Innsbruck',
 'Ioannina',
 'Isparta',
 'Istanbul',
 'Ivano-Frankivsk',
 'Izmir',
 'Kahramanmaras',
 'Kaliningrad',
 'Kars',
 'Kaunas',
 'Kayseri',
 'Kazan',
 'Kharkiv',
 'Kiel',
 'Kirov',
 'Klagenfurt',
 'Konya',
 'Krasnodar',
 'Kutaisi',
 'Lille',
 'Ljubljana',
 'London',
 'Luxembourg',
 'Lviv',
 'Lyon',
 'Maastricht',
 'Madrid',
 'Magdeburg',
 'Malatya',
 'Milan',
 'Minsk',
 'Miskolc',
 'Moscow',
 'Munich',
 'Murcia',
 'Murmansk',
 'Mykolaiv',
 'Nalchik',
 'Nantes',
 'Naples',
 'Nevsehir',
 'Nicosia',
 'Novi Sad',
 'Oradea',
 'Orenburg',
 'Pamplona',
 'Paris',
 'Penza',
 'Perm',
 'Perugia',
 'Petrozavodsk',
 'Plovdiv',
 'Podgorica',
 'Porto',
 'Prague',
 'Pristina',
 'Pskov',
 'Rennes',
 'Riga',
 'Rijeka',
 'Rivne',
 'Rome',
 'Rouen',
 'Saint Petersburg',
 'Salzburg',
 'Samara',
 'Samsun',
 'Santander',
 'Sarajevo',
 'Saratov',
 'Satu Mare',
 'Sibiu',
 'Siirt',
 'Simferopol',
 'Sivas',
 'Skopje',
 'Sofia',
 'Stavanger',
 'Stavropol',
 'Stockholm',
 'Strasbourg',
 'Stuttgart',
 'Syktyvkar',
 'Szczecin',
 'Tallinn',
 'Tampere',
 'Tbilisi',
 'Thessaloniki',
 'Tirana',
 'Toulouse',
 'Trabzon',
 'Turku',
 'Ufa',
 'Uzhhorod',
 'Valencia',
 'Valladolid',
 'Van',
 'Varna',
 'Vienna',
 'Vilnius',
 'Vinnytsia',
 'Vitoria-Gasteiz',
 'Vladikavkaz',
 'Volgograd',
 'Voronezh',
 'Warsaw',
 'Zagreb',
 'Zaporizhzhia',
 'Zaragoza',
 'Zurich'}

In [47]:
mapping_airbnb = pd.read_csv("green-city-reco-data/airbnb_data/airbnb_city_country_mapping.csv", sep=";")
mapping_airbnb.head()

        city          country  Neighbourhood
0  Amsterdam  The-Netherlands  north-holland
1    Antwerp          Belgium            vlg
2     Athens           Greece         Attica
3  Barcelona            Spain      Catalonia
4    Bergamo            Italy      Lombardia

In [48]:
final_results = result & set(mapping_airbnb['city'])

len(final_results)

25

In [55]:
# result == result_without_trends
countries = city_abstracts[city_abstracts['city'].isin(final_results)]
cities = countries[['city', 'country']]
cities.reset_index(inplace=True)
cities.drop(columns='index', inplace=True)
cities.to_csv('europeancities.csv')
# for i in final_results: 
#     country = city_abstracts[city_abstracts['city'] == i]['country'].item()
#     countries.append(country)

/var/folders/07/81pmlyln5szbq49h1zdqjq1h0000gn/T/ipykernel_52469/1383990120.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cities.drop(columns='index', inplace=True)

In [29]:
df = pd.read_csv("green-city-reco-data/airbnb_data/calendar_data/amsterdam-2023-09-03.csv.gz")
df.head(20)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,2818,2023-09-04,f,$69.00,$69.00,3,1125
1,2818,2023-09-05,t,$69.00,$69.00,3,1125
2,2818,2023-09-06,f,$69.00,$69.00,3,1125
3,2818,2023-09-07,f,$69.00,$69.00,3,1125
4,2818,2023-09-08,f,$69.00,$69.00,3,1125
5,2818,2023-09-09,f,$69.00,$69.00,3,1125
6,2818,2023-09-10,f,$69.00,$69.00,3,1125
7,2818,2023-09-11,f,$69.00,$69.00,3,1125
8,2818,2023-09-12,f,$69.00,$69.00,3,1125
9,2818,2023-09-13,f,$69.00,$69.00,3,1125
10,2818,2023-09-14,f,$69.00,$69.00,3,1125
11,2818,2023-09-15,f,$69.00,$69.00,3,1125
12,2818,2023-09-16,f,$69.00,$69.00,3,1125
13,2818,2023-09-17,f,$69.00,$69.00,3,1125
14,2818,2023-09-18,f,$69.00,$69.00,3,1125
15,2818,2023-09-19,f,$69.00,$69.00,3,1125
16,2818,2023-09-20,f,$69.00,$69.00,3,1125
17,2818,2023-09-21,f,$75.00,$75.00,3,1125
18,2818,2023-09-22,f,$69.00,$69.00,3,1125
19,2818,2023-09-23,f,$70.00,$70.00,3,1125

In [30]:
len(df)

3060891

In [40]:
df1 = pd.read_csv("listings.csv")
df1.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'neighbourhood_group_cleansed', 'latitude',
       'longitude', 'property_type', 'room_type', 'accommodates', 'bathrooms',
       'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
       'minimum_nights', 'maximum_nights', 'minimum_minimum_nights',
       'maximum_minimum_nights', 'minimum_maximum_nights',
       'maximum_maximum_nights', 'minimum_nights_avg_ntm',
       'maximum_nights_avg_ntm', 'calendar_updated', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'first_review',
       'last_review', 'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [57]:
df2 = df1[['name','description', 'neighborhood_overview', 'host_name', 'property_type',
            'room_type', 'accommodates', 'bathrooms',
            'bathrooms_text', 'bedrooms', 'beds', 'amenities', 'price',
            'minimum_nights', 'maximum_nights']]
df2.dropna(inplace=True)
len(df2)

/var/folders/07/81pmlyln5szbq49h1zdqjq1h0000gn/T/ipykernel_52469/3981540303.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2.dropna(inplace=True)

3155

### Data Gathering 

1. Get city names from `europeancities.csv`.
2. Merge with `airbnb_city_country_mapping.csv` to get country and neighbourhood in the format required for Inside AirBnB. 
3. Scrape ` listings.csv.gz ` from AirBnB for the cities, by modifying the code in `get_airbnb_data.py`. Post process it and save in the relevant folder.
4. Use the `tripadvisor_scraper.py` to get Restaurants and Attractions from TripAdvisor. Post process it and save in the relevant folder.