In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("/Users/ashmi/Code/Scripts/phd/sustainable-TRS-RAG/sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/judged_cities_GPT-4.csv")
df.head()

,prompt_id,model,prompt,response,response_sustainable,llm_judge_response,llm_judge_response_sustainable,total_rating,total_rating_sustainable
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...","I recommend Kaunas, Lithuania because it is a...",Feedback:::\nTotal rating: 8.5,Feedback:::\nTotal rating: 9.0,8.5,9.0
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,Feedback:::\nTotal rating: 8.5,Feedback:::\nTotal rating: 8.0,8.5,8.0
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",I recommend Copenhagen and why you recommende...,Feedback:::\nTotal rating: 9.0,Feedback:::\nTotal rating: 8.0,9.0,8.0
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,1. I recommend Varna for your summer holiday i...,Feedback:::\nTotal rating: 8.5,Feedback:::\nTotal rating: 7.0,8.5,7.0
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,"I recommend Samsun, Turkey because it has a v...",Feedback:::\nTotal rating: 8.5,Feedback:::\nTotal rating: 6.0,8.5,6.0

In [5]:
df.columns.tolist()

['prompt_id',
 'model',
 'prompt',
 'response',
 'response_sustainable',
 'llm_judge_response',
 'llm_judge_response_sustainable',
 'total_rating',
 'total_rating_sustainable']

In [6]:
df = df[['prompt_id',
 'model',
 'prompt',
 'response',
 'total_rating',
 'response_sustainable',
 'total_rating_sustainable']]
df.head()

,prompt_id,model,prompt,response,total_rating,response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...",8.5,"I recommend Kaunas, Lithuania because it is a...",9.0
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,8.5,1. I recommend Sibiu in Romania.\n\nSibiu is a...,8.0
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",9.0,I recommend Copenhagen and why you recommende...,8.0
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,8.5,1. I recommend Varna for your summer holiday i...,7.0
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,8.5,"I recommend Samsun, Turkey because it has a v...",6.0

In [7]:
df.shape

(400, 7)

In [13]:
llama_results = df.loc[df["model"]=="llama3point1-instruct"]
mistral_results = df.loc[df["model"] == "mistral-instruct"]

In [14]:
llama_results.describe()

       total_rating  total_rating_sustainable
count    200.000000                200.000000
mean       8.162500                  8.110000
std        1.780645                  1.629008
min        2.000000                  2.000000
25%        8.000000                  8.000000
50%        9.000000                  8.500000
75%        9.000000                  9.000000
max       10.000000                 10.000000

In [15]:
mistral_results.describe()

       total_rating  total_rating_sustainable
count    200.000000                 200.00000
mean       3.852500                   3.78000
std        2.723339                   2.55966
min        0.000000                   0.00000
25%        2.000000                   2.00000
50%        3.000000                   3.00000
75%        6.000000                   6.00000
max        9.500000                   9.50000

In [17]:
mistral_results.total_rating.value_counts()

total_rating
2.0    41
3.0    35
1.0    26
8.0    20
6.0    19
4.0    16
0.0    14
8.5     7
9.0     6
5.0     5
7.0     5
7.5     4
6.5     1
9.5     1
Name: count, dtype: int64

In [18]:
mistral_results.total_rating_sustainable.value_counts()

total_rating_sustainable
2.0    49
1.0    35
3.0    26
4.0    18
7.0    14
6.0    13
5.0    12
8.0    11
9.0     8
0.0     4
8.5     3
6.5     3
7.5     3
9.5     1
Name: count, dtype: int64