In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_percentage_error as mape

In [29]:
claude_new = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_Claude3Point5Sonnet.csv")
claude_new.drop(columns=["response", 'llm_judge_response', 'total_rating'], inplace=True)

In [27]:
claude_old = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/llm-judge/judged_cities_Claude3Point5Sonnet.csv")
claude_old = claude_old[["prompt_id","model", "prompt", "response", 'llm_judge_response', 'total_rating']]

claude_old.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...",Feedback:::\nTotal rating: 7.5\n\nThe system a...,7.5
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,Feedback:::\nTotal rating: 5.5\n\nThe system a...,5.5
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",Feedback:::\nTotal rating: 6.5\n\nThe answer p...,6.5
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,Total rating: 6.5\n\nThe system's answer provi...,6.5
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,Feedback:::\nTotal rating: 5.5\n\nThe answer p...,5.5

In [38]:
claude = claude_old.merge(claude_new, on=["prompt_id","model", "prompt"], how="left")
claude.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...",Feedback:::\nTotal rating: 7.5\n\nThe system a...,7.5,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 8.5\n\nThe system a...,8.5
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,Feedback:::\nTotal rating: 5.5\n\nThe system a...,5.5,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 5.5\n\nThe answer p...,5.5
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",Feedback:::\nTotal rating: 6.5\n\nThe answer p...,6.5,I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 6.5\n\nThe system's...,6.5
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,Total rating: 6.5\n\nThe system's answer provi...,6.5,"1. I recommend visiting Copenhagen, Denmark in...",Feedback:::\nTotal rating: 7.5\n\nThe system's...,7.5
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,Feedback:::\nTotal rating: 5.5\n\nThe answer p...,5.5,I recommend Copenhagen and Samsun. I recommen...,Feedback:::\nTotal rating: 3.5\n\nThe system's...,3.5

In [42]:
gpt_new = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_GPT-4.csv")
gpt_new.drop(columns=["response", 'llm_judge_response', 'total_rating'], inplace=True)
gpt_new.head()

,prompt_id,model,prompt,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 9.0,9.0
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 5.0,5.0
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...",I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 8.5,8.5
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...","1. I recommend visiting Copenhagen, Denmark in...",Feedback:::\nTotal rating: 8.5,8.5
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Copenhagen and Samsun. I recommen...,Feedback:::\nTotal rating: 4.0,4.0

In [41]:
gpt_old = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/llm-judge/judged_cities_GPT-4.csv")
gpt_old = gpt_old[["prompt_id","model", "prompt", "response", 'llm_judge_response', 'total_rating']]
gpt_old.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...",Feedback:::\nTotal rating: 8.5,8.5
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,Feedback:::\nTotal rating: 8.5,8.5
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",Feedback:::\nTotal rating: 9.0,9.0
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,Feedback:::\nTotal rating: 8.5,8.5
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,Feedback:::\nTotal rating: 8.5,8.5

In [43]:
gpt = gpt_old.merge(gpt_new, on=["prompt_id","model", "prompt"], how="left")
gpt.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Lithuania. I recommend Ka...",Feedback:::\nTotal rating: 8.5,8.5,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 9.0,9.0
1,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Sibiu in Romania.\n\nSibiu is a...,Feedback:::\nTotal rating: 8.5,8.5,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 5.0,5.0
2,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","I recommend Copenhagen, Denmark because it ha...",Feedback:::\nTotal rating: 9.0,9.0,I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 8.5,8.5
3,1_gpt-4o-mini,mistral-instruct,"I'm planning a trip in July and enjoy beaches,...",1. Option 1: The city of Thessaloniki in Greec...,Feedback:::\nTotal rating: 8.5,8.5,"1. I recommend visiting Copenhagen, Denmark in...",Feedback:::\nTotal rating: 8.5,8.5
4,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,I recommend Samsun as the best destination fo...,Feedback:::\nTotal rating: 8.5,8.5,I recommend Copenhagen and Samsun. I recommen...,Feedback:::\nTotal rating: 4.0,4.0

In [49]:
gpt.to_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_GPT-4.csv", index=False)
claude.to_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_Claude3Point5Sonnet.csv", index=False)

In [44]:
def compute_mean(df):
    llama_results = df.loc[df["model"]=="llama3point1-instruct"]
    mistral_results = df.loc[df["model"] == "mistral-instruct"]
    
    print("\t llama results mean (Baseline)", llama_results.total_rating.mean())
    print("\t llama results mean (Sustainable)", llama_results.total_rating_sustainable.mean())
    
    print("\t Mistral results mean (Baseline)", mistral_results.total_rating.mean())
    print("\t Mistral results mean (Sustainable)", mistral_results.total_rating_sustainable.mean())

In [45]:
def compute_sd(df):
    llama_results = df.loc[df["model"]=="llama3point1-instruct"]
    mistral_results = df.loc[df["model"] == "mistral-instruct"]
    
    print("\t llama results SD (Baseline)", llama_results.total_rating.std())
    print("\t llama results SD (Sustainable)", llama_results.total_rating_sustainable.std())
    
    print("\t Mistral results SD (Baseline)", mistral_results.total_rating.std())
    print("\t Mistral results SD (Sustainable)", mistral_results.total_rating_sustainable.std())

In [46]:
print("Mean")
print("GPT-4 as a judge")
compute_mean(gpt)

print("Claude-3.5-sonnet as a judge")
compute_mean(claude)

Mean
GPT-4 as a judge
	 llama results mean (Baseline) 8.1625
	 llama results mean (Sustainable) 7.685
	 Mistral results mean (Baseline) 3.8525
	 Mistral results mean (Sustainable) 3.955
Claude-3.5-sonnet as a judge
	 llama results mean (Baseline) 6.296482412060302
	 llama results mean (Sustainable) 5.505050505050505
	 Mistral results mean (Baseline) 3.056
	 Mistral results mean (Sustainable) 2.965

In [47]:
print("SD")
print("GPT-4 as a judge")
compute_sd(gpt)

print("Claude-3.5-sonnet as a judge")
compute_sd(claude)

SD
GPT-4 as a judge
	 llama results SD (Baseline) 1.7806451741379878
	 llama results SD (Sustainable) 1.7344499366988293
	 Mistral results SD (Baseline) 2.7233392431288888
	 Mistral results SD (Sustainable) 2.6453666710156845
Claude-3.5-sonnet as a judge
	 llama results SD (Baseline) 2.278032486275708
	 llama results SD (Sustainable) 2.2976427442440674
	 Mistral results SD (Baseline) 2.4549332959241856
	 Mistral results SD (Sustainable) 2.3486925690518965

In [ ]:
gpt.columns.tolist()

In [ ]:
def compute_mape(combined):
    llama = combined.loc[combined["model"]=="llama3point1-instruct"]
    mistral = combined.loc[combined["model"]=="mistral-instruct"]
    mape_llama = mape(llama.total_rating_gpt4, llama.total_rating_claude)
    mape_llama_sustainable = mape(llama.total_rating_sustainable_gpt4, llama.total_rating_sustainable_claude)
    
    mape_mistral = mape(mistral.total_rating_gpt4, mistral.total_rating_claude)
    mape_mistral_sustainable = mape(mistral.total_rating_sustainable_gpt4, mistral.total_rating_sustainable_claude)
    
    print("\t LLama MAPE (Non Sustainable)", mape_llama)
    print("\t LLama MAPE (Sustainable)", mape_llama_sustainable)
    
    print("\n\t Mistral MAPE (Non Sustainable)", mape_mistral)
    print("\t Mistral MAPE (Sustainable)", mape_mistral_sustainable)

In [ ]:
columns = ["prompt_id", "model", "total_rating", "total_rating_sustainable"]

try:
    gpt = gpt[columns]
    claude = claude[columns]
except KeyError:
    gpt = gpt
    claude = claude

gpt.rename(columns={"total_rating": "total_rating_gpt4","total_rating_sustainable":"total_rating_sustainable_gpt4" }, inplace=True)
claude.rename(columns={"total_rating": "total_rating_claude","total_rating_sustainable":"total_rating_sustainable_claude" }, inplace=True)

combined = pd.merge(gpt, claude, on=["prompt_id", "model"], how="left")
combined.fillna(0, inplace=True)
combined

In [ ]:
compute_mape(combined)