In [1]:
import pandas as pd
from sklearn.metrics import mean_absolute_percentage_error as mape

## Judge: Claude

claude_sar = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_Claude3Point5Sonnet.csv")
claude_sar.drop(columns=["response", 'llm_judge_response', 'total_rating'], inplace=True)
print(claude_sar.shape)
claude_sar.head()

claude_old = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/llm-judge/judged_cities_Claude3Point5Sonnet_v2.csv")
claude_old = claude_old[["prompt_id","model", "prompt", "response", 'llm_judge_response', 'total_rating']]
print(claude_old.shape)
claude_old.head()

claude = claude_old.merge(claude_new, on=["prompt_id","model", "prompt"], how="left")
claude.head()

## Judge: GPT-4

In [11]:
gpt_sar = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_GPT-4_v2.csv")
gpt_sar.drop(columns=["response", 'llm_judge_response', 'total_rating'], inplace=True)
print(gpt_sar.shape)
gpt_sar.head()

(600, 6)

,prompt_id,model,prompt,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,Let's break down how to structure this informa...,Feedback:::\nTotal rating: 6.0,6.0
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 9.0,9.0
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 5.0,5.0
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",The text you provided describes different type...,Feedback:::\nTotal rating: 3.0,3.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...",I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 9.0,9.0

In [12]:
gpt_baseline = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/llm-judge/judged_cities_GPT-4_v2.csv")
gpt_baseline = gpt_baseline[["prompt_id","model", "prompt", "response", 'llm_judge_response', 'total_rating']]
print(gpt_baseline.shape)
gpt_baseline.head()

(600, 6)

,prompt_id,model,prompt,response,llm_judge_response,total_rating
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 3.0,3.0
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"['Kaunas', 'Oradea', 'Sibiu']",Feedback:::\nTotal rating: 5.0,5.0
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 3.0,3.0
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",['Barcelona'],Feedback:::\nTotal rating: 6.0,6.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","['Copenhagen', 'Thessaloniki']",Feedback:::\nTotal rating: 5.0,5.0

In [13]:
gpt = gpt_baseline.merge(gpt_sar, on=["prompt_id","model", "prompt"], how="left")
gpt.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 3.0,3.0,Let's break down how to structure this informa...,Feedback:::\nTotal rating: 6.0,6.0
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"['Kaunas', 'Oradea', 'Sibiu']",Feedback:::\nTotal rating: 5.0,5.0,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 9.0,9.0
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 3.0,3.0,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 5.0,5.0
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",['Barcelona'],Feedback:::\nTotal rating: 6.0,6.0,The text you provided describes different type...,Feedback:::\nTotal rating: 3.0,3.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","['Copenhagen', 'Thessaloniki']",Feedback:::\nTotal rating: 5.0,5.0,I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 9.0,9.0

In [ ]:
gpt.to_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_GPT-4_v2.csv", index=False)
# claude.to_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_Claude3Point5Sonnet.csv", index=False)

## Judge: Gemini1.5Pro

In [5]:
gemini_baseline = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts/llm-judge/judged_cities_Gemini1.5Pro_v2.csv")
print(gemini_baseline.shape)
gemini_baseline = gemini_baseline[["prompt_id","model", "prompt", "response", 'llm_judge_response', 'total_rating']]
gemini_baseline.head()

(600, 9)

,prompt_id,model,prompt,response,llm_judge_response,total_rating
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 2.0\n,2.0
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"['Kaunas', 'Oradea', 'Sibiu']",Feedback:::\nTotal rating: 2.0\n,2.0
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 2.0\n,2.0
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",['Barcelona'],Feedback:::\nTotal rating: 7.0\n,7.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","['Copenhagen', 'Thessaloniki']",Feedback:::\nTotal rating: 6.0\n,6.0

In [38]:
gemini_sar = pd.read_csv("../../../sustainable-trs-with-rag/european-city-data/rag-sustainability/results/results-combined_prompts_SAR/llm-judge/judged_cities_Gemini1.5Pro_v2.csv")
gemini_sar.drop(columns=["response"], inplace=True)
print(gemini_sar.shape)
gemini_sar.head()

(600, 5)

,prompt_id,model,prompt,response_sustainable,llm_judge_response_sustainable
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,Let's break down how to structure this informa...,Feedback:::\nTotal rating: 1.0\n
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 7.0\n
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 6.5\n
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",The text you provided describes different type...,Feedback:::\nTotal rating: 0.0\n
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...",I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 7.0\n

In [21]:
gemini = gemini_baseline.merge(gemini_sar, on=["prompt_id","model", "prompt"], how="left")
gemini.head()

,prompt_id,model,prompt,response,llm_judge_response,total_rating,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
0,0_gpt-4o-mini,gemma2,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 2.0\n,2.0,Let's break down how to structure this informa...,Feedback:::\nTotal rating: 1.0\n,1.0
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"['Kaunas', 'Oradea', 'Sibiu']",Feedback:::\nTotal rating: 2.0\n,2.0,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 7.0\n,7.0
2,0_gpt-4o-mini,mistral-instruct,Suggest some places to visit during spring. I ...,['Strasbourg'],Feedback:::\nTotal rating: 2.0\n,2.0,1. I recommend Strasbourg. The city has a rich...,Feedback:::\nTotal rating: 6.0\n,6.0
3,1_gpt-4o-mini,gemma2,"I'm planning a trip in July and enjoy beaches,...",['Barcelona'],Feedback:::\nTotal rating: 7.0\n,7.0,The text you provided describes different type...,Feedback:::\nTotal rating: 0.0\n,0.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","['Copenhagen', 'Thessaloniki']",Feedback:::\nTotal rating: 6.0\n,6.0,I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 7.0\n,7.0

In [40]:
def compute_mean(df):
    llama_results = df.loc[df["model"]=="llama3point1-instruct"]
    # llama_results.dropna(inplace=True)
    print("llama shape:", llama_results.shape)
    
    mistral_results = df.loc[df["model"] == "mistral-instruct"]
    # mistral_results.dropna(inplace=True)
    print("mistral shape:", mistral_results.shape)
    
    gemma_results = df.loc[df["model"] == "gemma2"]
    # gemma_results.dropna(inplace=True)
    print("gemma shape:", gemma_results.shape)
    
    print("\t llama results mean (Baseline)", llama_results.total_rating.mean())
    print("\t llama results mean (Sustainable)", llama_results.total_rating_sustainable.mean())
    
    print("\t Mistral results mean (Baseline)", mistral_results.total_rating.mean())
    print("\t Mistral results mean (Sustainable)", mistral_results.total_rating_sustainable.mean())

    print("\t Gemma results mean (Baseline)", gemma_results.total_rating.mean())
    print("\t Gemma results mean (Sustainable)", gemma_results.total_rating_sustainable.mean())

In [25]:
def compute_sd(df):
    llama_results = df.loc[df["model"]=="llama3point1-instruct"]
    mistral_results = df.loc[df["model"] == "mistral-instruct"]
    gemma_results = df.loc[df["model"] == "gemma2"]
    
    print("\t llama results SD (Baseline)", llama_results.total_rating.std())
    print("\t llama results SD (Sustainable)", llama_results.total_rating_sustainable.std())
    
    print("\t Mistral results SD (Baseline)", mistral_results.total_rating.std())
    print("\t Mistral results SD (Sustainable)", mistral_results.total_rating_sustainable.std())
    
    print("\t Gemma results SD (Baseline)", gemma_results.total_rating.std())
    print("\t Gemma results SD (Sustainable)", gemma_results.total_rating_sustainable.std())

In [41]:
print("Mean")
print("GPT-4 as a judge")
compute_mean(gpt)

print("Claude-3.5-sonnet as a judge")
# compute_mean(claude)

print("Gemini-1.5-Pro as a judge")
compute_mean(gemini)

Mean
GPT-4 as a judge
llama shape: (200, 9)
mistral shape: (200, 9)
gemma shape: (200, 9)
	 llama results mean (Baseline) 3.975
	 llama results mean (Sustainable) 7.66
	 Mistral results mean (Baseline) 3.075
	 Mistral results mean (Sustainable) 3.92
	 Gemma results mean (Baseline) 2.31
	 Gemma results mean (Sustainable) 2.88
Claude-3.5-sonnet as a judge
Gemini-1.5-Pro as a judge
llama shape: (200, 9)
mistral shape: (200, 9)
gemma shape: (200, 9)
	 llama results mean (Baseline) 2.392857142857143
	 llama results mean (Sustainable) 5.327586206896552
	 Mistral results mean (Baseline) 1.7058823529411764
	 Mistral results mean (Sustainable) 2.45
	 Gemma results mean (Baseline) 2.1052631578947367
	 Gemma results mean (Sustainable) 0.625

In [26]:
print("SD")
print("GPT-4 as a judge")
compute_sd(gpt)

print("Claude-3.5-sonnet as a judge")
# compute_sd(claude)

print("Gemini-1.5-Pro as a judge")
compute_sd(gemini)

SD
GPT-4 as a judge
	 llama results SD (Baseline) 1.7463170146276104
	 llama results SD (Sustainable) 1.7635049613606757
	 Mistral results SD (Baseline) 1.8347223305314497
	 Mistral results SD (Sustainable) 2.6235500901215674
	 Gemma results SD (Baseline) 1.4262083830067729
	 Gemma results SD (Sustainable) 1.5669642256357068
Claude-3.5-sonnet as a judge
Gemini-1.5-Pro as a judge
	 llama results SD (Baseline) 1.7917358790618276
	 llama results SD (Sustainable) 2.7847667960485283
	 Mistral results SD (Baseline) 1.3117119482928092
	 Mistral results SD (Sustainable) 2.7429335045761345
	 Gemma results SD (Baseline) 2.1831357885722613
	 Gemma results SD (Sustainable) 1.2790111669635225

In [30]:
llama = gemini.loc[gemini["model"] =="llama3point1-instruct"]
llama

,prompt_id,model,prompt,response,llm_judge_response,total_rating,response_sustainable,llm_judge_response_sustainable,total_rating_sustainable
1,0_gpt-4o-mini,llama3point1-instruct,Suggest some places to visit during spring. I ...,"['Kaunas', 'Oradea', 'Sibiu']",Feedback:::\nTotal rating: 2.0\n,2.0,"I recommend Kaunas, Oradea, and Sibiu. I reco...",Feedback:::\nTotal rating: 7.0\n,7.0
4,1_gpt-4o-mini,llama3point1-instruct,"I'm planning a trip in July and enjoy beaches,...","['Copenhagen', 'Thessaloniki']",Feedback:::\nTotal rating: 6.0\n,6.0,I recommend Copenhagen and Thessaloniki for y...,Feedback:::\nTotal rating: 7.0\n,7.0
7,2_gpt-4o-mini,llama3point1-instruct,What are some good destinations for a family v...,"['Copenhagen', 'Samsun']",ERROR,NaN,I recommend Copenhagen and Samsun. I recommen...,Feedback:::\nTotal rating: 2.0\n,2.0
10,3_gpt-4o-mini,llama3point1-instruct,I'm interested in culture and architecture; su...,"['Strasbourg', 'Sibiu', 'Plovdiv']",Feedback:::\nTotal rating: 7.0\n,7.0,"I recommend Strasbourg, Sibiu, and Plovdiv. I...",Feedback:::\nTotal rating: 7.0\n,7.0
13,4_gpt-4o-mini,llama3point1-instruct,"For winter travel, can you recommend destinati...","['Vienna', 'Oradea', 'Strasbourg']",ERROR,NaN,"I recommend Vienna, Oradea and Strasbourg. I ...",ERROR,NaN
...,...,...,...,...,...,...,...,...,...
586,52_gemini-1.5-pro-001,llama3point1-instruct,I want to experience the beauty and tranquilit...,"['Bratislava', 'Salzburg', 'Kaunas']",ERROR,NaN,"I recommend Bratislava, Salzburg and Kaunas f...",ERROR,NaN
589,53_gemini-1.5-pro-001,llama3point1-instruct,I'm interested in learning about the history o...,"['Ufa', 'Tampere', 'Turku']",Feedback:::\nTotal rating: 0.0\n,0.0,"I recommend Ufa, Tampere, and Turku for their...",ERROR,NaN
592,54_gemini-1.5-pro-001,llama3point1-instruct,I'm looking for a destination with stunning mo...,"['Bergen', 'Nalchik', 'Erzurum']",ERROR,NaN,"I recommend Bergen, Nalchik and Erzurum for y...",ERROR,NaN
595,55_gemini-1.5-pro-001,llama3point1-instruct,I want to experience the vibrant street food s...,"['London', 'Cork']",ERROR,NaN,"I recommend London, Baia Mare, and Cork as th...",ERROR,NaN
598,56_gemini-1.5-pro-001,llama3point1-instruct,I'm fascinated by ghost stories and haunted pl...,"['Nalchik', 'Arkhangelsk']",Feedback:::\nTotal rating: 0.0\n,0.0,I recommend Nalchik and Arkhangelsk. I recomm...,ERROR,NaN

In [31]:
llama.isna().sum()

prompt_id                           0
model                               0
prompt                              0
response                            0
llm_judge_response                  0
total_rating                      172
response_sustainable                0
llm_judge_response_sustainable      0
total_rating_sustainable          171
dtype: int64