In [1]:
import pandas as pd 
import numpy as np 
import os

In [2]:
wikivoyage_dir = "../../european-city-data/data-sources/wikivoyage/listings/"

df = pd.read_csv(wikivoyage_dir + "wikivoyage-listings-cleaned.csv")

In [3]:
cities_csv = "../../european-city-data/data-sources/city_abstracts_embeddings.csv"
cities = pd.read_csv(cities_csv)

In [15]:
len(df)

7168

In [14]:
df['type'].unique()

array(['see', 'do', 'eat', 'drink', 'sleep', 'go'], dtype=object)

In [12]:
for city in cities['city']:
    city_df = df[df['city'] == city]

    if city_df.empty:
        print(f'{city} not found!!\n----------------\n')

Arad not found!!
----------------

Batman not found!!
----------------

Brest not found!!
----------------

Erzincan not found!!
----------------

Isparta not found!!
----------------

Istanbul not found!!
----------------

Kahramanmaras not found!!
----------------

Luxembourg not found!!
----------------

Murcia not found!!
----------------

Mykolaiv not found!!
----------------

Nalchik not found!!
----------------

Orenburg not found!!
----------------

Penza not found!!
----------------

Saratov not found!!
----------------

Siirt not found!!
----------------

Stavropol not found!!
----------------

Valladolid not found!!
----------------

Vinnytsia not found!!
----------------

Zaporizhzhia not found!!
----------------

In [10]:
grouped = df.groupby(['city', 'type']).size().reset_index(name='counts')

In [11]:
grouped

        city   type  counts
0    Aalborg     do       7
1    Aalborg  drink       6
2    Aalborg    eat       3
3    Aalborg    see      16
4    Aalborg  sleep       5
..       ...    ...     ...
516   Zurich     do       9
517   Zurich  drink      35
518   Zurich    eat      38
519   Zurich    see      17
520   Zurich  sleep      34

[521 rows x 3 columns]