In [7]:
import pandas as pd 
import numpy as np 
import os

In [8]:
os.getcwd()

'/Users/adithisatish/TUM/Academics/SoSe24/guided_research/sustainable-trs-with-rag/src/notebooks/exploratory_data_analysis'

In [9]:
wikivoyage_dir = "../../../../european-city-data/data-sources/wikivoyage/embeddings/"

df = pd.read_csv(wikivoyage_dir + "chunked-embeddings.csv")

In [10]:
cities = pd.read_csv("../../../city_abstracts_embeddings.csv")

print(len(cities['city'].unique()))
print(len(cities['country'].unique()))

160
41

In [31]:
import folium
def create_city_map(cities):
    # Initialize a map centered at the average coordinates
    # If no cities are provided, center the map at a default location
    if len(cities):
        avg_lat = cities['lat'].mean()
        avg_lon = cities['lng'].mean()
        city_map = folium.Map(location=[avg_lat, avg_lon], zoom_start=5)
    else:
        city_map = folium.Map(location=[0, 0], zoom_start=2)

    # Add each city as a point on the map
    for i, city in cities.iterrows():
        folium.Marker(
            location=[city['lat'], city['lng']],
            popup=f"{city['city']}, {city['country']}",
            tooltip=city['city']
        ).add_to(city_map)
    
    # Save the map as an HTML file
    city_map.save('city_map.html')
    print("Map has been created and saved as 'city_map.html'")

In [30]:
create_city_map(cities)

Map has been created and saved as 'city_map.html'

In [4]:
seasonality = "../../../../european-city-data/computed/seasonality/"
popularity = "../../../../european-city-data/computed/popularity/"

s_df = pd.read_csv(seasonality + "seasonality_scores.csv")
p_df = pd.read_csv(popularity + "popularity_scores.csv")

In [5]:
wv_cities = set(df['city'].unique())
s_cities = set(s_df['city'].unique())
p_cities = set(p_df['city'].unique())

In [6]:
# cities in wv but no seasonality 

print("Cities in wikivoyage that have no seasonality scores: ", wv_cities - s_cities)
print("Cities in wikivoyage that have no popularity scores: ", wv_cities - p_cities)
print("Cities in wikivoyage that have neither seasonality nor popularity scores :", wv_cities - (p_cities | s_cities))

Cities in wikivoyage that have no seasonality scores:  {'Satu Mare', 'Ivano-Frankivsk', 'Simferopol', 'Pristina'}
Cities in wikivoyage that have no popularity scores:  set()
Cities in wikivoyage that have neither seasonality nor popularity scores : set()

In [15]:
len(df)

7168

In [14]:
df['type'].unique()

array(['see', 'do', 'eat', 'drink', 'sleep', 'go'], dtype=object)

In [12]:
for city in cities['city']:
    city_df = df[df['city'] == city]

    if city_df.empty:
        print(f'{city} not found!!\n----------------\n')

Arad not found!!
----------------

Batman not found!!
----------------

Brest not found!!
----------------

Erzincan not found!!
----------------

Isparta not found!!
----------------

Istanbul not found!!
----------------

Kahramanmaras not found!!
----------------

Luxembourg not found!!
----------------

Murcia not found!!
----------------

Mykolaiv not found!!
----------------

Nalchik not found!!
----------------

Orenburg not found!!
----------------

Penza not found!!
----------------

Saratov not found!!
----------------

Siirt not found!!
----------------

Stavropol not found!!
----------------

Valladolid not found!!
----------------

Vinnytsia not found!!
----------------

Zaporizhzhia not found!!
----------------

In [10]:
grouped = df.groupby(['city', 'type']).size().reset_index(name='counts')

In [11]:
grouped

        city   type  counts
0    Aalborg     do       7
1    Aalborg  drink       6
2    Aalborg    eat       3
3    Aalborg    see      16
4    Aalborg  sleep       5
..       ...    ...     ...
516   Zurich     do       9
517   Zurich  drink      35
518   Zurich    eat      38
519   Zurich    see      17
520   Zurich  sleep      34

[521 rows x 3 columns]